@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.post p {
  margin: 1rem 0;
}

.post p:first-child {
  margin-top: 0;
}

.post p:last-child {
  margin-bottom: 0;
}
